html {
	box-sizing: border-box;
}

*,
*:after,
*:before {
	box-sizing: inherit;
}

$size: 200px;

body {
	background-color: #222;
	color: #E5CE81;
	font-family: 'Lato', sans-serif;
	overflow: hidden;
}

.present {
	height: $size;
	left: 0;
	margin: 0 auto;
	perspective: 600px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: $size;
}

.name {
	font-size: 4em;
	font-weight: 100;
	position: absolute;
	text-align: center;
  text-shadow: -3px 3px 0 rgba(229, 206, 129, .5);
	top: 50%;
	transform: translate3d(0, -50%, 0) rotateY(0) rotateX(0);
	transition: transform 2.5s cubic-bezier(0.22, 0.61, 0.36, 1);
	width: 100%;
}

.instruction {
	bottom: -100px;
	left: 0;
	opacity: 1;
	position: absolute;
	text-align: center;
	transition: opacity .5s;
	width: 100%;
}

.rotate-container {
	animation: present-rotate 30s infinite linear;
	height: 100%;
	transform: rotateY(170deg);
	transform-style: preserve-3d;
}

@keyframes present-rotate {
	0% { transform: rotateY(0); }
	100% { transform: rotateY(360deg); }
}

.bottom,
.front,
.left,
.back,
.right {
	background-color: #E5CE81;
	border: 1px solid rgba(0, 0, 0, .2);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.bottom {
	transform: translateY(50%) rotateX(90deg);
}

.front,
.left,
.back,
.right {
	transition: transform .5s;
	transform-origin: bottom;
	transform-style: preserve-3d;
}

.front,
.left,
.back,
.right,
.lid-top,
.lid-front,
.lid-left,
.lid-back,
.lid-right{
	&:after {
		background-color: #f2e6c0;
		box-shadow: 0 0 5px rgba(0, 0, 0, .2);
		content: '';
		height: 100%;
		left: calc(50% - 10px);
		position: absolute;
		transform: translateZ(.1px);
		width: 20px;
	}
}

.lid-top {
	&:before {
		background-color: #f2e6c0;
		box-shadow: 0 0 5px rgba(0, 0, 0, .2);
		content: '';
		height: 20px;
		left: 0;
		position: absolute;
		top: calc(50% - 10px);
		transform: translateZ(.1px);
		width: 100%;
	}
}

.left { transform: translateX(-50%) rotateY(-90deg); }
.back { transform: translateZ(-$size / 2) rotateY(180deg) rotateX(0); }
.right { transform: translateX(50%) rotateY(90deg); }
.front { transform: translateZ($size / 2); }


.lid {
	animation: lid-animation 3.5s 1s infinite;
	transform: translate3d(0, 0, 0);
	transform-style: preserve-3d;
	transition: transform .5s;
}

@keyframes lid-animation {
	0% { transform: translate3d(0, 0, 0) rotateX(0); }
	5% { transform: translate3d(0, -10px, -5px) rotateX(5deg); }
	10% { transform: translate3d(0, -10px, 5px) rotateX(-5deg); }
	15% { transform: translate3d(0, -10px, -5px) rotateX(5deg); }
	20% { transform: translate3d(0, -10px, 5px) rotateX(-5deg); }
	25% { transform: translate3d(0, -10px, -5px) rotateX(5deg); }
	30% { transform: translate3d(0, 0, 0) rotateX(0); }
}

.lid-top,
.lid-left,
.lid-back,
.lid-right,
.lid-front {
	background-color: #E5CE81;
	border: 1px solid rgba(0, 0, 0, .2);
	left: -5px;
	opacity: 1;
	position: absolute;
	top: 0;
	width: $size + 10px;
}

.lid-top {
	height: $size + 10px;
	top: -5px;
	transform: translateY(-50%) rotateX(90deg);
	transform-style: preserve-3d;
}

.lid-left,
.lid-back,
.lid-right,
.lid-front {
	height: 40px;
	top: -5px;
	transform-style: preserve-3d;
}

.lid-left { transform: translateX(-50%) rotateY(-90deg); }
.lid-back { transform: translateZ(-$size / 2 - 5px) rotateY(180deg); }
.lid-right { transform: translateX(50%) rotateY(90deg); }
.lid-front { transform: translateZ($size / 2 + 5px); }

.present:hover {
	.lid {
		animation: none;
		transform: translate3d(0, -40px, -10px) rotateX(10deg);
	}
}

.present.open {
	.name { transform: translate3d(0, -50%, 10px) rotateY(1080deg) rotateX(10deg); }
	.instruction { opacity: 0; }
	
	.left { transform: translateX(-50%) rotateY(-90deg) rotateX(-90deg); }
	.back { transform: translateZ(-$size / 2) rotateY(180deg) rotateX(-90deg); }
	.right { transform: translateX(50%) rotateY(90deg) rotateX(-90deg); }
	.front { transform: translateZ($size / 2) rotateX(-90deg); }
	
	.lid {
		animation: none;
		transform: translate3d(0, -120px, -120px) rotateX(50deg);
	}
}


canvas {
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}
